.auth-page-container {
    margin-inline: auto;
    max-width: 400px;
  }
  
  .user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 25rem;
  }
  
  .user-form-input {
    width: 100%;
    background-color: #b3effaa2;
    border-radius: 15px;
  }
  