:root {
  /* change this value for the background colour! */
  /* --bg-color: #2a2c30; */
  /* --bg-color: #2051b3; */
  --primary-color: #ffa500;
  --font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  /* background-color: var(--bg-color); */
  /* background-attachment: fixed; */
  /* background-position: center;  */
  background-image: url("./assets/Landing.jpg");
  background-repeat: repeat;
  opacity: 90%;
  /* background-size: cover; */
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: white;
  text-decoration: none;
}
