.header-container {
    display: flex;
    /* background-color: grey; */
    /* opacity: 60%; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-image: url("../../assets/header.jpg");
  }
  
  @media screen and (max-width: 700px) {
    .logo-container {
      visibility: hidden;
      width: 0;
    }
  }
  